{{define "footer"}}

			</div>
		</div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script>
     const flashCookie = document.cookie.split("; ").find(row => row.startsWith('flash-message'))

     if (flashCookie) {
         const flash = JSON.parse(atob(flashCookie.split('=')[1]))

         const e = document.querySelector("#flash");
         const classes = e.classList;
         classes.add("alert-"+flash.level);
         e.textContent = classes;
         e.innerText = flash.message;
         e.style.display = 'block';

         const host = location.host.split(":")[0];
         document.cookie = "flash-message= ; sameSite=Strict; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/; domain="+host;
     }
    </script>
	</body>
</html>

{{end}}
