{{template "header" .}}

<div class="row pt-2">
  <div class="col-md-6">
    {{template "story_comments" .Story}}
  </div>
</div>

<div class="row pl-2 pb-2">
  <div class="col-md-6">
    <form class="" action="/stories/{{.Story.ID}}/comments" method="post" id="submit-form" autocomplete="off">
      <div class="col-12 mb-3">
        <input type="hidden" name="parent-id" value="">
        <textarea class="form-control" name="body" id="body" rows="4" required></textarea>
      </div>

      <div class="col-12">
        {{if .Session}}
        <input class="btn btn-primary" type="submit" value="Submit">
        {{else}}
        <input class="btn btn-primary" type="submit" value="Submit" disabled>
        {{end}}
      </div>
    </form>
  </div>
</div>

<div class="row pl-2">
  <div class="comments">
    <ul class="comments-tree">
      {{range .Comments}}
      {{template "comment" dict "Comment" . "Session" $.Session}}
      {{end}}
    </ul>
  </div>
</div>
{{template "footer"}}
