{{template "header"}}

<ol>
	{{template "story" .Story}}
</ol>

<div id="post-comment">
	<form action="/stories/{{.Story.ID}}/comments" method="post" id="submit-form" autocomplete="off">
		<div class="submit-field">
			<label for="body">Body: </label>
			<textarea name="body" id="body" rows="4" required>
			</textarea>
		</div>

		<div class="submit-field">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>

<div id="comments">
	<ul>
		{{range .Comments}}
			{{template "comment" .}}
		{{end}}
	</ul>
</div>

{{template "footer"}}
