{{template "header" .}}

<h1> Submit </h1>

<form action="/submit" method="post" id="submit-form" autocomplete="off">
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label" for="title">Title </label>
		<div class="col-sm-6">
			<input class="form-control" type="text" name="title" id="title" required>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-2 col-form-label" for="title">Email </label>
		<div class="col-sm-6">
			<input class="form-control" type="text" name="url" id="url" required>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-2 col-form-label" for="title">Body </label>
		<div class="col-sm-6">
			<textarea class="form-control" name="body" id="body" rows="4" required></textarea>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-sm-6 offset-sm-2">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
	</div>
</form>

{{template "footer"}}
