.content {
    padding: 2em 1em 0;
}

#menu {
	background: #F28C0F;
	color: #FFFFFF;
	padding: 5px;
}

form#submit-form {
	display: table;
}

div#submit-field {
	display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}


.trigger + label + div /*This selects the div that is placed after a label that's after a element with 'trigger' class*/
{
	display:none; /*hiding the element*/
}

.trigger /*This selects a element with class 'trigger'*/
{
	display:none; /*hiding the element*/
}

.trigger:checked + label + div /*This selects the div that is placed after a label that's after a CHECKED input with class 'trigger'*/
{
	display:block; /*showing the element*/
}
