.content {
    padding: 2em 1em 0;
}

#menu {
	background: #F28C0F;
	color: #FFFFFF;
	padding: 5px;
}

form#submit-form {
	display: table;
}

div#submit-field {
	display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
